li {
  list-style-type: none;
  padding-left: 10px
}
ul { padding-left: 20px }

/* li.closed { list-style-type: '▸ ' } */
li.closed { list-style-type: '⇉ ' }
li.closed > ul { display: none }

/* li.open { list-style-type: '▾ ' } */
li.open { list-style-type: '⇊ ' }
li.open > ul { display: block }

li.closed, li.open { cursor: pointer }

ul { cursor: initial }

body {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
}
