
<li {{#if this.children}} class="closed" {{/if}} >
  <a href="{{ this.href }}">{{ this.title }}</a>
  <ul>
    {{#each this.children}}
      {{> partials/tocitem baseHref=baseHref}}
    {{/each}}
  </ul>
</li>